<!DOCTYPE html>   
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<!--[if IE]><![endif]-->
	<title>GRIMLOCK IPSUM</title>
	<meta name="description" content="">
	<meta name="keywords" content="" />
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<!-- !CSS -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
	<!-- Uncomment if you are specifically targeting less enabled mobile browsers
	<link rel="stylesheet" media="handheld" href="css/handheld.css?v=1">  -->
	
	<!-- !Modernizr - All other JS at bottom -->
	<script src="{{ STATIC_URL }}js/modernizr.js"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-102153-3']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<!-- !Body -->
<body>
	<div id="GRIMLOCK" class="container_12">
		<header>
			<h1><a href="/">@FAKEGRIMLOCK IPSUM</a></h1>
			<small>FOR ART HIPSTER PUT IN DESIGN. ME, GRIMLOCK, CODE DESIGN. DEVOUR HIPSTER.</small>
			<div class="clear"></div>
		</header><!-- /header -->
		
		<section id="GOODBACON">
			<div id="ME"><img src="{{ STATIC_URL }}img/grimlock.jpg" alt="grimlock ipsum header"/></div>
			<article class="grid_8">
				{% block body %}
				
				{% endblock %}
			
			</article>
			<aside class="grid_4">
				<h3>ME, GRIMLOCK, AM FAMOUS</h3>
				<iframe width="290" height="226" src="http://www.youtube.com/embed/6R1m9fjdwjI"></iframe>
			
			</aside>
			<div class="clear"></div>

		</section><!-- /main -->
		
		<footer id="FEET">
			
			<ul>
				<li><a href="http://twitter.com/FAKEGRIMLOCK" target="_blank">Follow @FAKEGRIMLOCK on the Twitter</a></li>
				<li><a href="http://www.zazzle.com/fakegrimlock" target="_blank">BUY SHIRT FOR WEAR</a></li>
				<li><a href="http://www.fakegrimlock.com" target="_blank">www.fakegrimlock.com</a></li>
			</ul>
			<p>ME LIKE <a href="http://hipsteripsum.me" target="_blank">HIPSTERIPSUM</a>. THEM TASTE GOOD. ME USE DESIGN BUT MAKE BETTER.</p>
			<p>Site developed by GRIMLOCKNAUTS <a href="http://twitter.com/andrewschoen" target="_blank">@andrewschoen</a> and <a href="http://twitter.com/davidstanley01" target="_blank">@davidstanley01</a></p>
		</footer><!-- /footer -->
		<div class="clear"></div>
	</div><!--!/#container -->
	
	<!-- !Javascript - at the bottom for fast page loading -->
	<!-- Grab Google CDN's jQuery.  -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</body>
</html>