@import url('reset.css');
@import url('960.css');
@import url('text.css');

/**********Custom Styles**********/
body {background-color:#eee; font-family:helvetica,arial,sans-serif;}
#GRIMLOCK {margin-top:30px; margin-bottom:30px; background-color:#fff;
    position:relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.81);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.81);}
header {margin:0px 30px;padding:30px 0px;border-bottom:1px solid #eee;}
header small {color:#999;font-style:italic;font-family:georgia;}
h1,h2,h3,h4,h5,h6 {font-family:georgia;}
h1 {margin:0px 0px 5px 0px;}
h2 {margin:0px 0px 20px 20px;}
p {margin-left:20px;}
a {text-decoration:none;color:inherit;}
#ME {margin:0 0 40px 0;}
#ME img {border-bottom:1px solid #eee;width:920px;margin-left:20px;}

#DO_IT {margin-left:100px;}
#DO_IT li {list-style-type:none;margin:0 0 10px 20px;border-top:1px solid #eee; padding:15px 0 5px 0;}
#DO_IT li .BEER {display:block;width:150px; text-align:right;float:left;margin-right:20px;}
#DO_IT li #PRESS {margin-left:170px;}

#FEET {height:100px;border-top:1px solid #eee;margin:50px 20px 0 20px;color:#999;padding-top:30px;}
#FEET a {text-decoration:underline;color:#999;}
#FEET a:hover {text-decoration:none;color:#333;}
#FEET li {list-style-type:none;float:left;margin:0 70px 20px 0;}
#FEET p {clear:both;margin:0 0 20px 0;}
iframe {border:0;}
button {
    width: auto;
	display: block;
	clear: both;
	margin: 0 auto 10px;
	border: 0;
	outline: 0;
	-webkit-box-shadow: 
		inset 0 1px 0 rgba(255, 255, 255, 0.6),
		0 1px 0 rgba(0, 0, 0, 0.2),
		0 0 0 1px rgb(150, 150, 150),
		0 1px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 
		inset 0 1px 0 rgba(255, 255, 255, 0.6),
		0 1px 0 rgba(0, 0, 0, 0.2),
		0 0 0 1px rgb(150, 150, 150),
		0 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.7);
	background-image: 
		-webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgb(240, 240, 240)),
			to(rgb(210, 210, 210))
		);
        background-image: -moz-linear-gradient(top, rgb(240, 240, 240), rgb(210, 210, 210));
	color: #000;
    height: 46px;
	padding: 0 20px;
    text-align: center;
	text-decoration: none !important;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	cursor:pointer;
}
#twitter_update_list {
    margin-left:10px;
    list-style:none;
}
#twitter_update_list li {
    padding:10px 0 0 0;
    margin:0;
}
